@import '~antd/dist/antd.css';


#app{
    width: 100%;
    height: 100%;
}
.ant-layout{
    width: 100%;
    height: 100%;
}
.ant-layout-header .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.ant-layout-header .trigger:hover {
    color: #1890ff;
}

.ant-layout-sider-children .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}